<footer id="pricing" class="bg-[#4a154b] text-white border-t-2 border-black w-full font-sans">
            
    <div class="grid grid-cols-2 gap-6 md:grid-cols-6 px-10 py-16 lg:px-24">
        <div class="col-span-1 ">
            <svg width="52" class="animate-spin" height="72" viewBox="0 0 52 72" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_144_2063)">
            <path d="M11.0746 42.236C11.0746 44.9951 8.84465 47.225 6.0856 47.225C3.32654 47.225 1.09662 44.9951 1.09662 42.236C1.09662 39.477 3.32654 37.2471 6.0856 37.2471H11.0746V42.236ZM13.5691 42.236C13.5691 39.477 15.799 37.2471 18.558 37.2471C21.3171 37.2471 23.547 39.477 23.547 42.236V54.7085C23.547 57.4675 21.3171 59.6975 18.558 59.6975C15.799 59.6975 13.5691 57.4675 13.5691 54.7085V42.236Z" fill="#FFC700"/>
            <path d="M11.0746 42.236C11.0746 44.9951 8.84465 47.225 6.0856 47.225C3.32654 47.225 1.09662 44.9951 1.09662 42.236C1.09662 39.477 3.32654 37.2471 6.0856 37.2471H11.0746V42.236ZM13.5691 42.236C13.5691 39.477 15.799 37.2471 18.558 37.2471C21.3171 37.2471 23.547 39.477 23.547 42.236V54.7085C23.547 57.4675 21.3171 59.6975 18.558 59.6975C15.799 59.6975 13.5691 57.4675 13.5691 54.7085V42.236Z" stroke="black" stroke-width="2.11765"/>
            </g>
            <g filter="url(#filter1_d_144_2063)">
            <path d="M18.558 22.2045C15.799 22.2045 13.5691 19.9746 13.5691 17.2155C13.5691 14.4565 15.799 12.2266 18.558 12.2266C21.3171 12.2266 23.547 14.4565 23.547 17.2155V22.2045H18.558ZM18.558 24.7368C21.3171 24.7368 23.547 26.9667 23.547 29.7258C23.547 32.4848 21.3171 34.7148 18.558 34.7148H6.04781C3.28876 34.7148 1.05884 32.4848 1.05884 29.7258C1.05884 26.9667 3.28876 24.7368 6.04781 24.7368H18.558Z" fill="#69D3FA"/>
            <path d="M18.558 22.2045C15.799 22.2045 13.5691 19.9746 13.5691 17.2155C13.5691 14.4565 15.799 12.2266 18.558 12.2266C21.3171 12.2266 23.547 14.4565 23.547 17.2155V22.2045H18.558ZM18.558 24.7368C21.3171 24.7368 23.547 26.9667 23.547 29.7258C23.547 32.4848 21.3171 34.7148 18.558 34.7148H6.04781C3.28876 34.7148 1.05884 32.4848 1.05884 29.7258C1.05884 26.9667 3.28876 24.7368 6.04781 24.7368H18.558Z" stroke="black" stroke-width="2.11765"/>
            </g>
            <g filter="url(#filter2_d_144_2063)">
            <path d="M38.5518 29.7258C38.5518 26.9667 40.7817 24.7368 43.5407 24.7368C46.2998 24.7368 48.5297 26.9667 48.5297 29.7258C48.5297 32.4848 46.2998 34.7148 43.5407 34.7148H38.5518V29.7258ZM36.0573 29.7258C36.0573 32.4848 33.8273 34.7148 31.0683 34.7148C28.3092 34.7148 26.0793 32.4848 26.0793 29.7258V17.2155C26.0793 14.4565 28.3092 12.2266 31.0683 12.2266C33.8273 12.2266 36.0573 14.4565 36.0573 17.2155V29.7258Z" fill="#69D3FA"/>
            <path d="M38.5518 29.7258C38.5518 26.9667 40.7817 24.7368 43.5407 24.7368C46.2998 24.7368 48.5297 26.9667 48.5297 29.7258C48.5297 32.4848 46.2998 34.7148 43.5407 34.7148H38.5518V29.7258ZM36.0573 29.7258C36.0573 32.4848 33.8273 34.7148 31.0683 34.7148C28.3092 34.7148 26.0793 32.4848 26.0793 29.7258V17.2155C26.0793 14.4565 28.3092 12.2266 31.0683 12.2266C33.8273 12.2266 36.0573 14.4565 36.0573 17.2155V29.7258Z" stroke="black" stroke-width="2.11765"/>
            </g>
            <g filter="url(#filter3_d_144_2063)">
            <path d="M31.0683 49.7195C33.8273 49.7195 36.0573 51.9494 36.0573 54.7085C36.0573 57.4675 33.8273 59.6975 31.0683 59.6975C28.3092 59.6975 26.0793 57.4675 26.0793 54.7085V49.7195H31.0683ZM31.0683 47.225C28.3092 47.225 26.0793 44.9951 26.0793 42.236C26.0793 39.477 28.3092 37.2471 31.0683 37.2471H43.5785C46.3376 37.2471 48.5675 39.477 48.5675 42.236C48.5675 44.9951 46.3376 47.225 43.5785 47.225H31.0683Z" fill="#FFC700"/>
            <path d="M31.0683 49.7195C33.8273 49.7195 36.0573 51.9494 36.0573 54.7085C36.0573 57.4675 33.8273 59.6975 31.0683 59.6975C28.3092 59.6975 26.0793 57.4675 26.0793 54.7085V49.7195H31.0683ZM31.0683 47.225C28.3092 47.225 26.0793 44.9951 26.0793 42.236C26.0793 39.477 28.3092 37.2471 31.0683 37.2471H43.5785C46.3376 37.2471 48.5675 39.477 48.5675 42.236C48.5675 44.9951 46.3376 47.225 43.5785 47.225H31.0683Z" stroke="black" stroke-width="2.11765"/>
            </g>
            <defs>
            <filter id="filter0_d_144_2063" x="0.0377808" y="36.1882" width="25.9798" height="25.9799" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="1.41176" dy="1.41176"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_2063"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_144_2063" result="shape"/>
            </filter>
            <filter id="filter1_d_144_2063" x="0" y="11.1677" width="26.0176" height="26.0177" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="1.41176" dy="1.41176"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_2063"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_144_2063" result="shape"/>
            </filter>
            <filter id="filter2_d_144_2063" x="25.0205" y="11.1677" width="25.9798" height="26.0177" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="1.41176" dy="1.41176"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_2063"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_144_2063" result="shape"/>
            </filter>
            <filter id="filter3_d_144_2063" x="25.0205" y="36.1882" width="26.0176" height="25.9799" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="1.41176" dy="1.41176"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_2063"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_144_2063" result="shape"/>
            </filter>
            </defs>
            </svg>
        </div>

        <div class="flex flex-col gap-4">
            <h4 class="font-bold text-[13px] uppercase tracking-wider">Why Slack?</h4>
            <div class="flex flex-col gap-3 text-[14px] opacity-90">
                <a href="#" class="hover:text-yellow-400">Slack vs. Email</a>
                <a href="#" class="hover:text-yellow-400">Channels</a>
                <a href="#" class="hover:text-yellow-400">Engagement</a>
                <a href="#" class="hover:text-yellow-400">Scale</a>
                <a href="#" class="hover:text-yellow-400">Watch the Demo</a>
            </div>
        </div>

        <div class="flex flex-col gap-4">
            <h4 class="font-bold text-[13px] uppercase tracking-wider">Product</h4>
            <div class="flex flex-col gap-3 text-[14px] opacity-90">
                <a href="#" class="hover:text-yellow-400">Features</a>
                <a href="#" class="hover:text-yellow-400">Integrations</a>
                <a href="#" class="hover:text-yellow-400">Enterprise</a>
                <a href="#" class="hover:text-yellow-400">Solutions</a>
            </div>
        </div>

        <div class="flex flex-col gap-4">
            <h4 class="font-bold text-[13px] uppercase tracking-wider">Pricing</h4>
            <div class="flex flex-col gap-3 text-[14px] opacity-90">
                <a href="#" class="hover:text-yellow-400">Plans</a>
                <a href="#" class="hover:text-yellow-400">Paid vs. Free</a>
            </div>
        </div>

        <div class="flex flex-col gap-4">
        <h4 class="font-bold text-[13px] uppercase tracking-wider">Resources</h4>
            <div class="flex flex-col gap-3 text-[14px] opacity-90">
                <a href="#" class="hover:text-yellow-400">Partners</a>
                <a href="#" class="hover:text-yellow-400">Developers</a>
                <a href="#" class="hover:text-yellow-400">Community</a>
                <a href="#" class="hover:text-yellow-400">Apps</a>
                <a href="#" class="hover:text-yellow-400">Blog</a>
                <a href="#" class="hover:text-yellow-400">Help Center</a>
                <a href="#" class="hover:text-yellow-400">Events</a>
            </div>
        </div>

        <div class="flex flex-col gap-4">
            <h4 class="font-bold text-[13px] uppercase tracking-wider">Company</h4>
            <div class="flex flex-col gap-3 text-[14px] opacity-90">
                <a href="#" class="hover:text-yellow-400">About Us</a>
                <a href="#" class="hover:text-yellow-400">Leadership</a>
                <a href="#" class="hover:text-yellow-400">Investor Relations</a>
                <a href="#" class="hover:text-yellow-400">News</a>
                <a href="#" class="hover:text-yellow-400">Media Kit</a>
                <a href="#" class="hover:text-yellow-400">Careers</a>
            </div>
        </div>
    </div>

    <div class="bg-[#ecb22e] text-black border-t-2 border-black py-4 px-10 lg:px-24">
        <div class="flex flex-col lg:flex-row items-center justify-between gap-6">
        
            <div class="flex flex-wrap items-center justify-center gap-4 text-[12px] font-bold">
                <a href="#">Status</a>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Cookie Preferences</a>
                <br class="md:hidden">
                <a href="#">Contact Us</a>
                <div class="flex items-center gap-1 cursor-pointer">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_144_2081)">
                        <path d="M9 16.5C13.1421 16.5 16.5 13.1421 16.5 9C16.5 4.85786 13.1421 1.5 9 1.5C4.85786 1.5 1.5 4.85786 1.5 9C1.5 13.1421 4.85786 16.5 9 16.5Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1.5 9H16.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9 1.5C10.876 3.55376 11.9421 6.21903 12 9C11.9421 11.781 10.876 14.4462 9 16.5C7.12404 14.4462 6.05794 11.781 6 9C6.05794 6.21903 7.12404 3.55376 9 1.5V1.5Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_144_2081">
                        <rect width="18" height="18" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    <span>Change Region</span>
                </div>
            </div>

            <div class="flex items-center gap-6">
                <button class="whitespace-nowrap animate-bounce flex items-center gap-2 border-2 border-black rounded-full px-4 py-1.5 text-[12px] font-bold bg-white hover:bg-zinc-50 transition-colors shadow-[2px_2px_0px_0px_rgba(0,0,0,1)]">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_144_2094)">
                        <path d="M6 12.75L9 15.75L12 12.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9 9V15.75" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15.66 13.5674C16.312 13.1089 16.801 12.4546 17.056 11.6993C17.3109 10.9441 17.3186 10.1272 17.0778 9.36732C16.837 8.60742 16.3604 7.94402 15.717 7.47337C15.0737 7.00272 14.2971 6.74933 13.5 6.74995H12.555C12.3294 5.87085 11.9074 5.05439 11.3206 4.36201C10.7338 3.66963 9.99761 3.11939 9.1674 2.75271C8.3372 2.38604 7.43463 2.21247 6.52764 2.24509C5.62065 2.2777 4.73288 2.51565 3.93116 2.94102C3.12944 3.36639 2.43466 3.96809 1.89914 4.70082C1.36361 5.43356 1.00128 6.27823 0.839441 7.17126C0.677598 8.06429 0.720453 8.9824 0.96478 9.85646C1.20911 10.7305 1.64854 11.5378 2.25 12.2174" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_144_2094">
                        <rect width="18" height="18" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    Download Slack
                </button>
                
                <div class="flex items-center gap-4">
                    <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_dd_144_2143)">
                    <path d="M21.2502 2.62501C20.4123 3.21605 19.4846 3.66811 18.5027 3.96376C17.9757 3.35783 17.2754 2.92837 16.4964 2.73345C15.7174 2.53852 14.8973 2.58756 14.147 2.87391C13.3968 3.16026 12.7526 3.67011 12.3016 4.33451C11.8505 4.99891 11.6144 5.7858 11.6252 6.58876V7.46376C10.0875 7.50363 8.56383 7.1626 7.18985 6.47102C5.81586 5.77945 4.63424 4.75882 3.75021 3.50001C3.75021 3.50001 0.250214 11.375 8.12521 14.875C6.32318 16.0982 4.17648 16.7116 2.00021 16.625C9.87521 21 19.5002 16.625 19.5002 6.56251C19.4994 6.31878 19.476 6.07565 19.4302 5.83626C20.3232 4.95557 20.9534 3.84363 21.2502 2.62501Z" fill="white"/>
                    <path d="M20.5002 6.5625C20.5002 11.9437 17.907 15.9032 14.1731 17.8906C10.4636 19.865 5.72879 19.84 1.51486 17.499C1.11005 17.2741 0.912274 16.8004 1.03732 16.3545C1.16252 15.9088 1.57768 15.6076 2.04025 15.626C3.41817 15.6807 4.78209 15.4222 6.03537 14.8828C4.80843 14.089 3.90985 13.1592 3.27463 12.1562C2.38243 10.7475 2.04633 9.2564 1.98557 7.9209C1.92506 6.58979 2.13693 5.39239 2.35861 4.53516C2.47006 4.10421 2.58563 3.75212 2.67502 3.50488C2.71971 3.38128 2.75823 3.28327 2.78635 3.21387C2.80034 3.17932 2.81199 3.1519 2.82053 3.13184C2.8248 3.12178 2.82757 3.11271 2.83029 3.10645C2.83162 3.1034 2.83327 3.10075 2.8342 3.09863C2.83463 3.09765 2.83483 3.09648 2.83517 3.0957L2.83615 3.09473C2.83856 3.09526 2.87914 3.11302 3.62033 3.44238L2.83615 3.09375C2.98247 2.76455 3.29498 2.53978 3.65353 2.50488C4.01204 2.47005 4.36156 2.63101 4.56857 2.92578C5.3578 4.04948 6.4133 4.96076 7.63986 5.57812C8.57632 6.0494 9.5908 6.33719 10.6291 6.43164C10.6493 5.48334 10.9397 4.55924 11.4738 3.77246C12.0399 2.93865 12.8487 2.29885 13.7903 1.93945C14.7319 1.58005 15.7617 1.51903 16.7395 1.76367C17.4907 1.9517 18.1822 2.31489 18.7629 2.81738C19.4391 2.5625 20.0822 2.22506 20.674 1.80762C21.0146 1.56753 21.4682 1.56433 21.8127 1.79883C22.1572 2.03334 22.3204 2.45644 22.2219 2.86133C21.9215 4.09483 21.3226 5.23267 20.4826 6.17773C20.4929 6.30461 20.4998 6.43214 20.5002 6.55957V6.5625Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <filter id="filter0_dd_144_2143" x="0" y="0.616211" width="25.1934" height="21.7007" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="1" dy="1"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_2143"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="2" dy="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="effect1_dropShadow_144_2143" result="effect2_dropShadow_144_2143"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_144_2143" result="shape"/>
                    </filter>
                    </defs>
                    </svg>

                    <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_dd_144_2145)">
                    <path d="M15.75 2H13.125C11.9647 2 10.8519 2.46094 10.0314 3.28141C9.21094 4.10188 8.75 5.21468 8.75 6.375V9H6.125V12.5H8.75V19.5H12.25V12.5H14.875L15.75 9H12.25V6.375C12.25 6.14294 12.3422 5.92038 12.5063 5.75628C12.6704 5.59219 12.8929 5.5 13.125 5.5H15.75V2Z" fill="white"/>
                    <path d="M15.75 1C16.3023 1 16.75 1.44772 16.75 2V5.5C16.75 6.05228 16.3023 6.5 15.75 6.5H13.25V8H15.75C16.0579 8 16.3486 8.14205 16.5381 8.38477C16.7275 8.62741 16.7943 8.94354 16.7197 9.24219L15.8447 12.7422C15.7334 13.1874 15.3339 13.5 14.875 13.5H13.25V19.5C13.25 20.0523 12.8023 20.5 12.25 20.5H8.75C8.19772 20.5 7.75 20.0523 7.75 19.5V13.5H6.125C5.57272 13.5 5.125 13.0523 5.125 12.5V9C5.125 8.44772 5.57272 8 6.125 8H7.75V6.375L7.75684 6.1084C7.82276 4.77993 8.37923 3.51921 9.32422 2.57422C10.3322 1.56621 11.6995 1 13.125 1H15.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <filter id="filter0_dd_144_2145" x="4.125" y="0" width="15.625" height="23.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="1" dy="1"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_2145"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="2" dy="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="effect1_dropShadow_144_2145" result="effect2_dropShadow_144_2145"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_144_2145" result="shape"/>
                    </filter>
                    </defs>
                    </svg>

                    <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_dd_144_2148)">
                    <path d="M20.848 5.6175C20.7441 5.20223 20.5324 4.82175 20.2343 4.51448C19.9363 4.20721 19.5624 3.98404 19.1505 3.8675C17.6455 3.5 11.6255 3.5 11.6255 3.5C11.6255 3.5 5.6055 3.5 4.1005 3.9025C3.68859 4.01904 3.31473 4.24221 3.01668 4.54948C2.71863 4.85675 2.50694 5.23723 2.403 5.6525C2.12756 7.17986 1.99283 8.72927 2.0005 10.2812C1.99068 11.8449 2.12542 13.4061 2.403 14.945C2.51759 15.3474 2.73402 15.7134 3.03138 16.0077C3.32873 16.302 3.69697 16.5146 4.1005 16.625C5.6055 17.0275 11.6255 17.0275 11.6255 17.0275C11.6255 17.0275 17.6455 17.0275 19.1505 16.625C19.5624 16.5085 19.9363 16.2853 20.2343 15.978C20.5324 15.6707 20.7441 15.2903 20.848 14.875C21.1213 13.3591 21.256 11.8215 21.2505 10.2812C21.2603 8.71759 21.1256 7.15636 20.848 5.6175V5.6175Z" fill="white"/>
                    <path d="M11.625 2.5L11.626 3.5V2.5H11.6953C11.7405 2.50009 11.807 2.50061 11.8916 2.50098C12.0607 2.5017 12.3037 2.50297 12.5996 2.50586C13.1912 2.51164 13.9967 2.52273 14.8506 2.5459C15.7032 2.56903 16.6116 2.60431 17.4062 2.65723C18.175 2.70842 18.9157 2.78123 19.3877 2.89648C19.3994 2.89934 19.4113 2.90199 19.4229 2.90527C20.0041 3.06973 20.5316 3.3848 20.9521 3.81836C21.3727 4.25193 21.6717 4.78906 21.8184 5.375L20.8477 5.61719L21.832 5.44043C22.1199 7.03646 22.2586 8.6556 22.249 10.2773H22.251C22.2567 11.8783 22.1161 13.4771 21.832 15.0527C21.8281 15.0746 21.8237 15.0966 21.8184 15.1182C21.6717 15.7039 21.3725 16.2404 20.9521 16.6738C20.5316 17.1074 20.004 17.4225 19.4229 17.5869C19.4184 17.5882 19.4137 17.5896 19.4092 17.5908C18.9293 17.7192 18.1806 17.7994 17.4121 17.8555C16.6159 17.9135 15.7065 17.9512 14.8535 17.9766C13.9988 18.002 13.1926 18.0152 12.6006 18.0215C12.3044 18.0247 12.0609 18.0256 11.8916 18.0264C11.807 18.0268 11.7405 18.0272 11.6953 18.0273H11.626H11.625H11.5557C11.5105 18.0272 11.4439 18.0268 11.3594 18.0264C11.1901 18.0256 10.9466 18.0247 10.6504 18.0215C10.0584 18.0152 9.25212 18.002 8.39746 17.9766C7.54449 17.9512 6.6351 17.9135 5.83887 17.8555C5.07042 17.7994 4.3217 17.7192 3.8418 17.5908L3.83691 17.5898C3.2676 17.4341 2.74768 17.1339 2.32812 16.7188C1.90852 16.3035 1.6031 15.7865 1.44141 15.2188C1.43238 15.187 1.4248 15.1545 1.41895 15.1221C1.1305 13.5228 0.990799 11.9004 1.00098 10.2754C0.993683 8.66586 1.13329 7.05862 1.41895 5.47461C1.42285 5.45299 1.42729 5.43147 1.43262 5.41016C1.57927 4.82426 1.87834 4.28707 2.29883 3.85352C2.71937 3.41997 3.24695 3.10489 3.82812 2.94043C3.83263 2.93916 3.83728 2.93773 3.8418 2.93652C4.3217 2.80818 5.07042 2.7289 5.83887 2.67285C6.63512 2.61478 7.54447 2.57613 8.39746 2.55078C9.25212 2.52538 10.0584 2.51219 10.6504 2.50586C10.9466 2.50269 11.1901 2.50177 11.3594 2.50098C11.4439 2.50058 11.5105 2.5001 11.5557 2.5H11.625Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <path d="M9.65674 13.1424L14.688 10.2812L9.65674 7.41992V13.1424Z" fill="white" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <defs>
                    <filter id="filter0_dd_144_2148" x="0" y="1.5" width="25.251" height="19.5276" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="1" dy="1"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_2148"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="2" dy="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="effect1_dropShadow_144_2148" result="effect2_dropShadow_144_2148"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_144_2148" result="shape"/>
                    </filter>
                    </defs>
                    </svg>

                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_dd_144_2152)">
                    <path d="M14.25 7.25C15.6424 7.25 16.9777 7.80312 17.9623 8.78769C18.9469 9.77226 19.5 11.1076 19.5 12.5V18.625H16V12.5C16 12.0359 15.8156 11.5908 15.4874 11.2626C15.1592 10.9344 14.7141 10.75 14.25 10.75C13.7859 10.75 13.3408 10.9344 13.0126 11.2626C12.6844 11.5908 12.5 12.0359 12.5 12.5V18.625H9V12.5C9 11.1076 9.55312 9.77226 10.5377 8.78769C11.5223 7.80312 12.8576 7.25 14.25 7.25Z" fill="white"/>
                    <path d="M14.25 6.25C15.9076 6.25 17.4968 6.90895 18.6689 8.08105C19.841 9.25316 20.5 10.8424 20.5 12.5V18.625C20.5 19.1773 20.0523 19.625 19.5 19.625H16C15.4477 19.625 15 19.1773 15 18.625V12.5C15 12.3011 14.9209 12.1104 14.7803 11.9697C14.6396 11.8291 14.4489 11.75 14.25 11.75C14.0511 11.75 13.8604 11.8291 13.7197 11.9697C13.5791 12.1104 13.5 12.3011 13.5 12.5V18.625C13.5 19.1773 13.0523 19.625 12.5 19.625H9C8.44772 19.625 8 19.1773 8 18.625V12.5C8 10.8424 8.65895 9.25316 9.83105 8.08105C11.0032 6.90895 12.5924 6.25 14.25 6.25Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <g filter="url(#filter1_dd_144_2152)">
                    <path d="M5.5 8.125H2V18.625H5.5V8.125Z" fill="white"/>
                    <path d="M5.5 7.125C6.05228 7.125 6.5 7.57272 6.5 8.125V18.625C6.5 19.1773 6.05228 19.625 5.5 19.625H2C1.44772 19.625 1 19.1773 1 18.625V8.125C1 7.57272 1.44772 7.125 2 7.125H5.5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <g filter="url(#filter2_dd_144_2152)">
                    <path d="M3.75 5.5C4.7165 5.5 5.5 4.7165 5.5 3.75C5.5 2.7835 4.7165 2 3.75 2C2.7835 2 2 2.7835 2 3.75C2 4.7165 2.7835 5.5 3.75 5.5Z" fill="white"/>
                    <path d="M3.75 1C5.26878 1 6.5 2.23122 6.5 3.75C6.5 5.26878 5.26878 6.5 3.75 6.5C2.23122 6.5 1 5.26878 1 3.75C1 2.23122 2.23122 1 3.75 1Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <filter id="filter0_dd_144_2152" x="7" y="5.25" width="16.5" height="17.375" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="1" dy="1"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_2152"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="2" dy="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="effect1_dropShadow_144_2152" result="effect2_dropShadow_144_2152"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_144_2152" result="shape"/>
                    </filter>
                    <filter id="filter1_dd_144_2152" x="0" y="6.125" width="9.5" height="16.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="1" dy="1"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_2152"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="2" dy="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="effect1_dropShadow_144_2152" result="effect2_dropShadow_144_2152"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_144_2152" result="shape"/>
                    </filter>
                    <filter id="filter2_dd_144_2152" x="0" y="0" width="9.5" height="9.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="1" dy="1"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_144_2152"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="2" dy="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="effect1_dropShadow_144_2152" result="effect2_dropShadow_144_2152"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_144_2152" result="shape"/>
                    </filter>
                    </defs>
                    </svg>
                </div>
            </div>

        </div>
    </div>
</footer>