---
    import { Image } from 'astro:assets';
    import favicon from '../assets/vector.png';
    import content from '../assets/content.png';
---

<section class="bg-white pt-20 px-10">
    <div class="max-w-6xl mx-auto flex flex-col lg:flex-row items-end gap-16">
        
        <div class="relative flex justify-center items-end z-5">
        <div class="absolute -left-12 bottom-20 top-5 w-[45%]">
            <Image src={favicon} alt="" />
        </div>
        
        <div class="w-[80%] z-10">
            <Image src={content} alt="" />
        </div>
        </div>

        <div class="w-full lg:w-1/2 pb-20">
            <blockquote class="text-2xl md:text-3xl leading-snug italic mb-8">
            "We were able to create a large virtual network of employees that can communicate as though they are together. There was a lot of disruption in terms of where we worked, but in terms of how we worked—very little disruption."
            </blockquote>
            <div class="space-y-2">
                <p class="font-black text-lg">Mark Smith</p>
                <p class="text-sm text-zinc-600 font-bold uppercase tracking-widest">Senior Technical Product Manager, T-Mobile</p>
            </div>
            <button class="animate-bounce group flex items-center gap-2 font-bold text-sm uppercase mt-4 tracking-widest border-2 border-black rounded-2xl p-4 hover:text-purple-900 transition-colors">
                See more Customer Stories
            </button>
        </div>

    </div>
</section>